{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <link rel="icon" href="{% static 'mainchat/img/icon.png' %}">
    <link rel="stylesheet" href="{% static 'mainchat/css/chat.css' %}">
    <title>Просто чат</title>
</head>
<body>
    <main id="main">
        <h1>ЧАТ</h1><br>
        <div class="chat" id="chat-window">
            {% for message in messages %}
                <div class="in-chat" id="{{ message.id }}">
                    <div class="time">{{ message.time_create|date:"SHORT_DATE_FORMAT" }} {{ message.time_create|time:"H:i" }}</div>
                    <div class="name">{{ message.name }}</div>
                    <div class="message"> - {{ message.message }}</div>
                </div>
            {% endfor %}
        </div>
        <br><br>
        <div class="send">
            <form>
                <input type="text" id="name" placeholder="Имя" required>
                <input type="text" id="message" placeholder="Сообщение" required>
                <input type="button" id="butt" onclick="SendMessage()" value="➤">
            </form>
        </div>
    </main>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <script>
        let permission = Notification.permission;
        var allowed = false;

        if(permission === "granted"){
           {#showNotification();#}
            allowed = true
        } else if(permission === "default"){
           requestAndShowPermission();
        } else {
          alert("Use normal alert");
        }

        function requestAndShowPermission() {
            Notification.requestPermission(function (permission) {
                if (permission === "granted") {
                    {#showNotification();#}
                    allowed = true
                }
            });
        }
        function showNotification(name, message) {
            if(document.visibilityState !== "visible") {
                let title = name;
                let icon = '{% static 'mainchat/img/icon.png' %}';
                let body = message;

                let notification = new Notification(title, { body, icon });

                notification.onclick = () => {
                    notification.close();
                    window.parent.focus();
                }
            }
        }


        var chatWindow = document.getElementById('chat-window')

        chatWindow.scrollTop = 1000

        var timer = setInterval(CheckMessage, 50000)

        function SendMessage() {
            let name = document.querySelector('form #name').value
            let message = document.querySelector('form #message').value

            document.querySelector('form #message').value = ''
            $(document).ready(function () {
                $.ajax({
                    data: {
                        "name": name,
                        "message": message
                    },
                    url: "{% url 'add' %}",
                    success: function (response) {
                        if (response.hasOwnProperty("alert")) {
                            alert(response["alert"])
                        } else {
                            clearTimeout(timer)
                            CheckMessage()
                            timer = setInterval(CheckMessage, 50000)
                        }
                    },
                    error: function (response) {
                        console.log(response.responseJSON.errors)
                    }
                });
                return false;
            })
        }

        function CheckMessage() {
            let sms = document.querySelectorAll('.in-chat')
            sms = sms[sms.length-1].id
            $(document).ready(function () {
                $.ajax({
                    data: {
                        "sms": sms
                    },
                    url: "{% url 'check' %}",
                    success: function (response) {
                        if (response.hasOwnProperty("ok")) {
                        } else {
                            document.querySelector('.chat').innerHTML += response
                            chatWindow.scrollTop += 1000

                            if (allowed === true) {
                                let lastname = document.querySelectorAll('.name')
                                lastname = lastname[lastname.length - 1].innerText

                                let lastmessage = document.querySelectorAll('.message')
                                lastmessage = lastmessage[lastmessage.length - 1].innerText

                                showNotification(lastname, lastmessage)
                            }
                        }
                    },
                    error: function (response) {
                        console.log(response.responseJSON.errors)
                    }
                });
                return false;
            })
        }

        var input = document.getElementById("message");
        input.addEventListener("keypress", function(event) {
          if (event.key === "Enter") {
            event.preventDefault();
            document.getElementById("butt").click();
          }
        });

    </script>

</body>
</html>